<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joo.abysshop.mapper.mybatis.AdminMapper">
  <resultMap id="orderEntityResultMap" type="com.joo.abysshop.entity.order.OrderEntity">
    <result property="orderId" column="order_id"/>
    <result property="userId" column="user_id"/>
    <result property="orderDate" column="order_date"/>
    <result property="totalPoints" column="total_points"/>
    <result property="orderState" column="order_state"/>
  </resultMap>

  <select id="findAllOrders" resultType="java.util.List" resultMap="orderEntityResultMap">
    SELECT *
    FROM orders_table
  </select>

  <update id="changeOrderState" parameterType="java.util.Map">
    UPDATE orders_table
    SET order_state = #{newState}
    WHERE order_id = #{orderId}
  </update>

  <update id="providePoint">
    UPDATE users_table
    SET points = points + #{point}
    WHERE user_id = #{userId}
  </update>

  <insert id="insertProduct" parameterType="com.joo.abysshop.entity.admin.AddProductEntity"
    useGeneratedKeys="true" keyProperty="productId">
    INSERT INTO products_table (product_name, price, description)
    VALUES (#{productName}, #{price}, #{description})
  </insert>

  <insert id="insertProductImage"
    parameterType="com.joo.abysshop.entity.admin.AddProductImageEntity">
    INSERT INTO product_image_table (product_id, original_file_name)
    VALUES (#{productId}, #{originalFileName})
  </insert>

  <delete id="deleteByProductId" parameterType="java.lang.Long">
    DELETE
    FROM products_table
    WHERE product_id = #{productId}
  </delete>

  <update id="changePointRechargeState" parameterType="java.util.Map">
    UPDATE point_recharge_table
    SET recharge_request_state = #{newState}
    WHERE recharge_id = #{rechargeId}
  </update>

  <select id="findPagedOrders" resultType="java.util.List" resultMap="orderEntityResultMap">
    SELECT *
    FROM orders_table
    LIMIT #{pageSize} OFFSET #{offset}
  </select>
</mapper>