<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joo.abysshop.mapper.mybatis.CartMapper">
  <resultMap id="cartEntityResultMap" type="com.joo.abysshop.entity.cart.CartEntity">
    <result property="cartId" column="cart_id"/>
    <result property="userId" column="user_id"/>
    <result property="quantity" column="quantity"/>
    <result property="totalPoints" column="total_points"/>
  </resultMap>

  <resultMap id="cartItemEntityResultMap" type="com.joo.abysshop.entity.cart.CartItemEntity">
    <result property="cartItemId" column="cart_item_id"/>
    <result property="cartId" column="cart_id"/>
    <result property="productId" column="product_id"/>
    <result property="productName" column="product_name"/>
    <result property="price" column="price"/>
    <result property="quantity" column="quantity"/>
  </resultMap>

  <resultMap id="cartIdResultMap" type="java.lang.Long">
    <result property="cartId" column="cart_id"/>
  </resultMap>

  <select id="getCart" parameterType="java.lang.Long"
    resultType="com.joo.abysshop.entity.cart.CartEntity"
    resultMap="cartEntityResultMap">
    SELECT *
    FROM carts_table
    WHERE user_id = #{userId}
  </select>

  <select id="getCartItems" parameterType="java.lang.Long" resultType="java.util.List"
    resultMap="cartItemEntityResultMap">
    SELECT *
    FROM cart_items_table
    WHERE cart_id = #{cartId}
  </select>

  <delete id="removeItem" parameterType="java.util.Map">
    DELETE
    FROM cart_items_table
    WHERE cart_id = #{cartId}
      AND product_id = #{productId}
  </delete>

  <select id="getQuantity" resultType="java.lang.Long">
    SELECT SUM(quantity) AS quantity
    FROM cart_items_table
    WHERE cart_id = #{cartId}
  </select>

  <select id="getTotalPoints" resultType="java.lang.Long">
    SELECT SUM(price * quantity) AS total_points
    FROM cart_items_table
    WHERE cart_id = #{cartId}
  </select>

  <select id="getCartIdByUserId" parameterType="java.lang.Long" resultMap="cartIdResultMap"
    resultType="java.lang.Long">
    SELECT cart_id
    FROM carts_table
    WHERE user_id = #{userId}
  </select>

  <insert id="addItem" parameterType="com.joo.abysshop.entity.cart.AddCartItemEntity">
    INSERT INTO cart_items_table (cart_id, product_id, product_name, price)
    VALUES (#{cartId}, #{productId}, #{productName}, #{price})
  </insert>

  <select id="isCartItemExists" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM cart_items_table
    WHERE cart_id = #{cartId}
      AND product_id = #{productId}
  </select>

  <update id="increaseQuantity">
    UPDATE cart_items_table
    SET quantity = quantity + 1
    WHERE cart_id = #{cartId}
      AND product_id = #{productId}
  </update>

  <update id="increaseTotalPrice">
    UPDATE cart_items_table
    SET price = price + #{price}
    WHERE cart_id = #{cartId}
      AND product_id = #{productId}
  </update>

  <select id="getItemQuantity" resultType="java.lang.Long">
    SELECT quantity
    FROM cart_items_table
    WHERE cart_id = #{cartId}
      AND product_id = #{productId}
  </select>

  <update id="decreaseQuantity">
    UPDATE cart_items_table
    SET quantity = quantity - 1
    WHERE cart_id = #{cartId}
      AND product_id = #{productId}
  </update>

  <update id="decreaseTotalPrice">
    UPDATE cart_items_table
    SET price = price - #{price}
    WHERE cart_id = #{cartId}
      AND product_id = #{productId}
  </update>

  <update id="updateCart">
    UPDATE carts_table
    SET total_points = #{totalPoints},
        quantity = #{totalQuantity}
    WHERE cart_id = #{cartId}
  </update>

  <delete id="deleteCartItems" parameterType="java.lang.Long">
    DELETE
    FROM cart_items_table
    WHERE cart_id = #{cartId}
  </delete>

  <update id="resetCartValues" parameterType="java.lang.Long">
    UPDATE carts_table
    SET quantity = 0,
        total_points = 0
    WHERE cart_id = #{cartId}
  </update>
</mapper>