<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joo.abysshop.mapper.mybatis.OrderMapper">
  <resultMap id="orderEntityResultMap" type="com.joo.abysshop.entity.order.OrderEntity">
    <result property="orderId" column="order_id"/>
    <result property="userId" column="user_id"/>
    <result property="orderDate" column="order_date"/>
    <result property="totalPoints" column="total_points"/>
    <result property="orderState" column="order_state"/>
  </resultMap>

  <insert id="insertOrder" parameterType="com.joo.abysshop.entity.order.CreateOrderEntity">
    INSERT INTO orders_table (user_id, order_date, total_points, order_state)
    VALUES (#{userId}, NOW(), #{totalPoints}, 'shipping')
  </insert>

  <select id="countAllOrders" resultType="int">
    SELECT COUNT(*)
    FROM orders_table
  </select>

  <select id="countUserOrders" resultType="int">
    SELECT COUNT(*)
    FROM orders_table
    WHERE user_id = #{userId}
  </select>

  <select id="findPagedUserOrders" resultType="java.util.List" resultMap="orderEntityResultMap">
    SELECT *
    FROM orders_table
    WHERE user_id = #{userId}
    LIMIT #{pageSize} OFFSET #{offset}
  </select>
</mapper>