<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joo.abysshop.mapper.mybatis.PointMapper">
  <resultMap id="pointRechargeEntityResultMap"
    type="com.joo.abysshop.entity.point.PointRechargeEntity">
    <result property="rechargeId" column="recharge_id"/>
    <result property="userId" column="userId"/>
    <result property="nickname" column="nickname"/>
    <result property="points" column="points"/>
    <result property="requestTime" column="request_time"/>
    <result property="rechargeRequestState" column="recharge_Request_state"/>
  </resultMap>

  <resultMap id="pointRechargeDetailEntityResultMap"
    type="com.joo.abysshop.entity.point.PointRechargeDetailEntity">
    <result property="rechargeDetailId" column="recharge_detail_id"/>
    <result property="rechargeId" column="recharge_id"/>
    <result property="userId" column="user_id"/>
    <result property="bank" column="bank"/>
    <result property="accountNumber" column="account_number"/>
    <result property="depositConfirmedTime" column="deposit_confirmed_time"/>
  </resultMap>

  <select id="findAllPointRecharge" resultType="java.util.List"
    resultMap="pointRechargeEntityResultMap">
    SELECT *
    FROM point_recharge_table
  </select>

  <insert id="insertPointRecharge"
    parameterType="com.joo.abysshop.entity.point.CreatePointRechargeEntity">
    INSERT INTO point_recharge_table (user_id, nickname, points, request_time,
                                      recharge_request_state)
    VALUES (#{userId}, #{nickname}, #{points}, NOW(), 'pending_payment')
  </insert>

  <update id="changePointRechargeState" parameterType="java.util.Map">
    UPDATE point_recharge_table
    SET recharge_request_state = #{newState}
    WHERE recharge_id = #{rechargeId}
  </update>

  <select id="findAllPointRechargeDetail"
    resultType="com.joo.abysshop.entity.point.PointRechargeDetailEntity"
    resultMap="pointRechargeDetailEntityResultMap">
    SELECT *
    FROM point_recharge_detail_table
  </select>

  <update id="updatePointRechargeDetail"
    parameterType="com.joo.abysshop.entity.point.UpdatePointRechargeDetailEntity">
    UPDATE point_recharge_detail_table
    SET bank           = #{bank},
        account_number = #{accountNumber}
    WHERE recharge_detail_id = #{rechargeDetailId}
  </update>

  <select id="countAllPointRecharges" resultType="int">
    SELECT COUNT(*)
    FROM point_recharge_table
  </select>

  <select id="findPagedPointRecharges" resultType="java.util.List"
    resultMap="pointRechargeEntityResultMap">
    SELECT *
    FROM point_recharge_table
    LIMIT #{pageSize} OFFSET #{offset}
  </select>

  <select id="countAllPointRechargeDetails" resultType="int">
    SELECT COUNT(*)
    FROM point_recharge_detail_table
  </select>

  <select id="findPagedPointRechargeDetails"
    resultType="com.joo.abysshop.entity.point.PointRechargeDetailEntity"
    resultMap="pointRechargeDetailEntityResultMap">
    SELECT *
    FROM point_recharge_detail_table
    LIMIT #{pageSize} OFFSET #{offset}
  </select>

  <select id="countUserPointRecharges" resultType="int">
    SELECT COUNT(*)
    FROM point_recharge_table
    WHERE user_id = #{userId}
  </select>

  <select id="findPagedUserPointRecharges" resultType="java.util.List"
    resultMap="pointRechargeEntityResultMap">
    SELECT *
    FROM point_recharge_table
    WHERE user_id = #{userId}
    LIMIT #{pageSize} OFFSET #{offset}
  </select>
</mapper>