<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joo.abysshop.mapper.mybatis.UserMapper">
  <resultMap id="userTypeResultMap" type="com.joo.abysshop.entity.user.UserEntity">
    <result property="userType" column="user_type"/>
  </resultMap>

  <resultMap id="userEntityResultMap" type="com.joo.abysshop.entity.user.UserEntity">
    <result property="userId" column="user_id"/>
    <result property="username" column="username"/>
    <result property="nickname" column="nickname"/>
    <result property="userType" column="user_type"/>
    <result property="points" column="points"/>
  </resultMap>

  <select id="findByUserId" parameterType="java.lang.Long"
    resultType="com.joo.abysshop.entity.user.UserEntity"
    resultMap="userEntityResultMap">
    SELECT *
    FROM users_table
    WHERE user_id = #{userId};
  </select>

  <select id="getUserPoints" parameterType="java.lang.Long" resultType="java.lang.Long">
    SELECT points
    FROM users_table
    WHERE user_id = #{userId}
  </select>

  <update id="consumePoint" parameterType="java.util.Map">
    UPDATE users_table
    SET points = #{remainPoints}
    WHERE user_id = #{userId}
  </update>

  <select id="findByUsername" parameterType="java.lang.String"
    resultType="com.joo.abysshop.entity.user.UserEntity"
    resultMap="userEntityResultMap">
    SELECT *
    FROM users_table
    WHERE username = #{username}
  </select>

  <select id="getNickname" parameterType="java.lang.Long" resultType="java.lang.String">
    SELECT nickname
    FROM users_table
    WHERE user_id = #{userId}
  </select>

  <select id="getUserType" parameterType="java.lang.Long" resultType="java.lang.String">
    SELECT user_type
    FROM users_table
    WHERE user_id = #{userId}
  </select>
</mapper>