//TODO: 반복되는 margin 값 등 변수화하기

/* 프로젝트 대표 색상 */
$primary-color: #3f99f5;
$secondary-color: #2566a7;
$third-color: #6ab4ff;
$fourth-color: #4b9ff6;
$fifth-color: #165fe9;
$sixth-color: #052e57;

/* 폰트 색상 */
$font-primary-color: #333;
$font-secondary-color: #eee;

/* 배경 색상 */
$background-primary-color: #fff;
$background-secondary-color: #ccc;
