#user-info-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

#change-nickname-form div,
#change-password-form div {
  margin-bottom: 0.125rem;
}

#change-nickname-form button,
#change-password-form button {
  margin-top: 0.25rem;
}

#withdraw-button {
  width: 300px;
  font-weight: bold;
}