body {
  background-color: var(--third-color);
}

main {
  background-color: #fff;
  margin: 0.5rem auto;
  padding: 0;
  border-radius: 10px;
  width: 31.25rem;
  height: 27.125rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order-complete-info {
  margin: 0 2rem; !important;
  border-radius: 10px;
}

.mark-logo > img {
  margin-top: 0.825rem;
  width: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  width: 200px; !important;
  margin: 0.25rem 0; !important;
}