#carouselIndicators {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

aside {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  .carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: gray;
    margin: 5px;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }

    &.active {
      background-color: white;
      opacity: 1;
    }
  }

  .carousel-inner {
    position: relative;

    img {
      object-fit: contain;
      width: 100%;
      height: 350px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }

  .custom-arrow {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(45deg);
  }

  .prev-arrow {
    transform: rotate(135deg);
  }

  .next-arrow {
    transform: rotate(-45deg);
  }
}
