.item-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  max-width: 12.5rem;
  margin: 1rem;
  border: 1px solid #000; /* border는 추후 삭제 */
  text-align: center;
}

.item-list img, .item-list h3, .item-list p {
  cursor: pointer;
  text-decoration: none;
}

.item-list img {
  /*
  max-width: 100%;
  height: auto;
   */
  max-width: 25%;
  max-height: 40%;
}

.item-list h3 {
  font-size: 1.125rem;
  margin: 0.635rem 0;
}

.item-list p {
  color: #666;
}