section {
  margin: 1rem 1.2rem;
  position: relative;
}

section > h2 {
  color: #052e57;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto 2rem;
}

.item {
  width: 150px;
  margin: 0.25rem 0.25rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.item a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  font-style: inherit;
}

.item img {
  width: 128px;
  height: 128px;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem; /* 상품 리스트와 간격 확보 */
}
